In [88]:
import torch
import torchvision
import os
import glob
import PIL
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import matplotlib.patches as patches

In [89]:
train_dir = "/opt/ml/input/data/train/"

In [90]:
data = pd.read_csv(os.path.join(train_dir, 'train.csv'))
image_dir = os.path.join(train_dir,'images')

print(image_dir)
print(data.dtypes)

/opt/ml/input/data/train/images
id        object
gender    object
race      object
age        int64
path      object
dtype: object

In [91]:
data.head()

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54
3  000005  female  Asian   58  000005_female_Asian_58
4  000006  female  Asian   59  000006_female_Asian_59

In [92]:
image_dirs=[]
for img_path in data.path:
    image_dirs.append(image_dir+'/'+ img_path+'/')

In [94]:
image_paths=[]

for i_dir in image_dirs:
    image_paths.append(glob.glob(f'{i_dir}/**'))

tf = torchvision.transforms.ToTensor()

for image in image_paths[0]:
    img = PIL.Image.open(image)
    
    img_t = tf(img)
    print(img_t.size())

torch.Size([3, 512, 384])
torch.Size([3, 512, 384])
torch.Size([3, 512, 384])
torch.Size([3, 512, 384])
torch.Size([3, 512, 384])
torch.Size([3, 512, 384])
torch.Size([3, 512, 384])